DirectoryIndex login.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Clean URL redirects
RewriteRule ^login\.php/orders\.php$ /orders.php [R=301,L]
